
* {
  box-sizing: border-box;
}

.view-details-button {
  width: 100%;
  padding: 12px 0px 12px 0px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.product-image:hover {
  transform: scale(1.05);
  transition: 1000ms;
}

.product-card {
  box-shadow: -1px 6px 8px -6px rgba(0, 0, 0, 0.75);
}

.no-cart-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.checkout-form > * {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 24px;
  font-size: 24px;
}

.checkout-submit-button {
  padding: 24px;
  align-items: center;
  border-radius: 5px;
  border: 1px solid;
}

.fade-in {
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.product-detail-item-image {
  width: 40%;
  max-height: 490px;
  object-fit: contain;
}

.product-detail-item-div {
  width: 50%;
}

/* .btn{
  width: 200px;
  height: 50px;
  line-height: 50px;
  border: 2px solid #fff;
  margin: 30px 0;
  position: relative;
  cursor: pointer;
  transition: all 1s ease;
  overflow: hidden;

}

/* .btn > p {
  text-align: center;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  font-size: 16px;
  position: relative; 
  z-index: 1;
  transition: all 1s ease;
} 

.btn:before{
  content: "";
  width: 100%;
  height: 100%;
  background-color:red;
  position: absolute;
  transition: all 1s ease;
  z-index: 0;

}

.btn-3:before{
  top: 0;
  left: 210px;
}

.btn-3:hover:before{
  left: 0;
} */
